
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h1>Bu Proje İbrahim Yılmaz Tarafından 15.01.2024 Tarihinde Yapılmıştır...</h1>

<a href="#"><img style="display: block; margin-left: 300px;" src="~/image/138970763.jfif" alt="Örnek Resim"  /></a>